<html>
<head>
    <title>Sample app</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>You are calling me from {{request.remote_addr}}</h1>
    <form method="POST" action="/add">
    <input name="ip" placeholder="Ip" required />
    <input name="username" placeholder="Username" required />
    <input name="password" placeholder="Password" required />
    <button type="submit">Add Comment</button>
  </form>

  <ul>
    {% for comment in data %}
      <li>
	       {{ comment.ip }} - {{ comment.username }} - {{comment.password}} 
         <form method="POST" action="{{ url_for('delete_comment') }}" style="display:inline">
           <input type="hidden" name="idx" value="{{ comment._id}}">
           <button type="submit">Delete</button>
         </form>
      </li>
    {% endfor %}
  </ul>


</body>
</html>